<!DOCTYPE html>

<!--<script src="http://localhost:3002/require-browser.js"></script>-->
<html>
<head>
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->

<link href="bulk.css" rel="stylesheet">
<link href="formmodule.css" rel="stylesheet">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form>
        <div class="form-control">
            <br />
            <label>My Order</label>
            <div class="file-upload">

                <div class="row">
                    <div class="col-md-3 col-form-label">
                        <div class="form-label" for="customFile">Bulk Upload (C.O.D Only) </div><br />
                    </div>
                    <div class="col-md-6 col-form-label">
                        <input type="file" id="csvFileInput" accept=".csv" style="padding-bottom: 15px" class="form-control" />
                        <!--<script type="module" src="app.js"></script>
                        <script type="module" src="sqlconnect.js"></script>-->
                        <!--<input type="file" id="csvFileInput" style="padding-bottom: 15px" class="form-control" />
                        <br />-->
                    </div>
                    <div class="col-md-3 col-form-label">
                        <!--<button class="file-upload-btn" id="bub" onclick="javascript:getdata();">
                            Upload

                        </button>-->

                    </div>
                </div>

                <div class="drag-text">
                    <a href="sample_template.csv">- Download Sample Template -</a>
                </div>
            </div>
        </div>
        <div class="form-control">

            <p>Order List</p>
            <div class="fa-search">
                <input type="search" class="form-control" placeholder="Search..." />
                <span class="fa fa-search"> <i class="fa fa-search" aria-hidden="true"></i></span>

                <!--<i class="material-icons">search</i>-->
            </div>
            <br />
            <!--<script>
                import TableCsv from "./TableCsv.js";
                const tableCsv = new TableCsv(tableRoot);
                const tableRoot = document.querySelector("#csvRoot");
                tableCsv.setHeader(["#", "Nama Pembeli", "Produk", "Payment", "Postage / C.O.D", "Status"])
            </script>-->
            <table id="csvRoot">
                <tr>
                    <th>#</th>
                    <th>Nama Pembeli</th>
                    <th>Produk</th>
                    <th>Payment</th>
                    <th>Postage / C.O.D</th>
                    <th>Status</th>
                </tr>
                <!--<tr>
                    <td> </td>
                    <td><%= data[0].NAME %></td>
                    <td><%= data[0].PRODUCT %></td>
                    <td><%= data[0].STATUS %></td>
                    <td> </td>
                    <td> </td>

                </tr>-->
            </table>

        </div>
    </form>
    <script src="papaparse.min.js"></script>
    <script src="papaparse.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!--<script type="module" src="sqlconnect.js"></script>-->
    <!--<script type="module" src="bundle.js"></script>-->
    <!--<script type="module" src="./js/main.js"></script>-->
    <link href="test.css" rel="stylesheet">
    <script type="text/javascript" src="app.js"></script>
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
